header{
    justify-content: start;
    padding: 15px;
    margin: 10px;
    align-items: stretch;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

#contenedor_logo{
    display: inline-block;
    padding: 10px;
    margin: 10px;
}

#titulo_principal{
    display: inline-block;
    margin: 0 15px;
}