<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style_base.css') }}">
    <title>Blog Flask</title>
</head>
<body>
    <header>
        <div class="contenedor_logo">
            <img src="{{ url_for('static', filename= 'img/blog.webp') }}" height="80px" width="80px">
            <h1 id="titulo_principal">BlogFlask</h1>
        </div>
    </header>
    <div>
        <h2>New Posts</h2>
        <div>
            {% for post in Posts %}
            <h3>{{post['title']}}</h3>
            <p>{{post['update']}}</p>
            <p>{{post['body']}}</p>
            {% endfor %}
        </div>
        
    </div>
</body>
</html>