<!--TODO: implement Login-->

{% extends 'base.html' %}

{% block title %} Pagina principal {% endblock%}

{% block main %}

<div>
    <div>
        <h2>Login</h2>
    </div>
    <div>
        <form action="/" method="post">

            <label for="email">Username</label>
            <input type="email" name="email" placeholder="example@gmail.com">
            
            <label for="password">Password</label>
            <input type="password" name="password">

            <input type="submit" value="Iniciar sesion">
        </form>
    </div>
</div>

{% endblock %}