{% extends 'base.html' %}

{% block title %} Pagina principal {% endblock%}

{% block main %}

<h2>Nuevas Publicaciones</h2>
<div>
    {% if posts %}
        <ul>
            {% for post in posts %}
                <li>
                    <a href="/{{ post[0] }}">{{ post[0] }}</a> <!-- Asumiendo que 'post' es una tupla y el título es el primer elemento -->
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No hay publicaciones disponibles en este momento.</p>
    {% endif %}
</div>

{% endblock %}