
{% extends 'base.html' %}

{% block title %} Pagina principal {% endblock%}

{% block main %}

<div>
    
    <div>
        <h2>Resgistro</h2>
    </div>
    <div>
        <form action="/Regristro" method="post">

            <label for="user_name">Username</label>
            <input type="text" name="Username" placeholder="Example16" required>
            
            <label for="email">Email</label>
            <input type="email" name="email" placeholder="example@gmail.com" required>
            
            <label for="password">Password</label>
            <input type="password" name="password" required>

            <input type="submit" value="Registrarse">
        </form>
    </div>
</div>

{% endblock %}